<div class="row">
    <section class="main col-md-9">
      <article>
            <h2>About</h2>
            <p>My name is <b>Davender Singh</b>. I am student of Computer Programming in Seneca College(SIA Campus). My goal is to be a Software engineer in future.</p> 
            <p>I come from Haryana, India, a City known as "<b>Charkhi Dadri</b>" which relates to <i>"Charkhi village"</i> and is famous for its own food and grain markets and one FCI godown.. Currently, I am living in Toronto, Ontario. I am trilingual; I can read, write, and speak English, Haryanvi, and Hindi. I enjoy learning about different cultures and languages. I have a keen interest in dancing and singing too.</p> 
            <p>I am a spiritual person and spends my free time listening to devotional songs and sometimes rap songs. I also like to read fiction based books in my free time. Currently, I am reading "<b>The house of blue mangoes</b>" by David davidar. My main philosophy of life is that in order to live a peaceful life, one must be content, patient, and grateful. </p>
      </article>
     </section>
    <aside class="col-md-3">
            <h2>Coming Soon</h2>
            <p>As soon as I learn more about new things, this app will grow - stay tuned!</p>
    </aside>
</div>